body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

.styleSectionHero {
    font-family: 'Agency FB';
    background-color: #000000;
    user-select: none;
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    background-image: url(../../img/sectionHeroBackground_highres.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    div {
        font-weight: bold;
        font-size: large;
        border-radius: 10px;
        padding: 20px;
                color: #D10056;
        border: #D10056 1px solid;
        box-shadow: inset 0 0 10px #B2054C;
        transition: box-shadow 0.3s ease-out;

    }
    div.header {
        max-width: 350px;
        background: rgba(255, 185, 0, 0.35);
        text-shadow: -1.5px 0 #FFB900, 0 1.5px #FFB900, 1.5px 0 #FFB900, 0 -1.5px #FFB900;
    }
    div.header:hover{
        box-shadow: inset 0 0 20px #B2054C;
        transition: box-shadow 0.3s ease-out;
    }
    div.button {
        margin-left: 50px;
        max-width: 75px;
        background: rgba(0, 125, 204, 0.35);
        text-shadow: -1.5px 0 #007DCC, 0 1.5px #007DCC, 1.5px 0 #007DCC, 0 -1.5px #007DCC;
    }
    div.button:hover {
        border: #007DCC 1px solid;
        box-shadow: inset 0 0 20px #007DCC;
        transition: (border box-shadow) 0.3s ease-out;
        cursor: pointer;
    }

    h2, p {
        color: #FFB900;
        text-shadow: -1.5px 0 #B2054C, 0 1.5px #B2054C, 1.5px 0 #B2054C, 0 -1.5px #B2054C;
    }
    h2 {
        max-width: 400px;
        margin-left: 30px;
        
    }
    p {
        margin-left: 30px;
        font-size: large;
        font-weight: bold;
    }
}